<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/angular-bootstrap-toggle.min.css" rel="stylesheet">
    <link href="css/scrollable-table.css" rel="stylesheet">
    <link href="css/perso.css" rel="stylesheet">
    <script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/angular-scrollable-table.js"></script>
    <script src="js/angular-bootstrap-toggle.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="app/accent-folding.js"></script>
    <script src="app/app.js"></script>
    <title>Strava Viewer</title>
</head>
<body ng-app="StravaViewer" >

<div ng-controller="StravaController as vm">
    <div class="navbar navbar-default" id="navbar">
        <div class="container h1">
            <div class="row">
                <div class="col-md-6">
                    <h1><a href="#">SportsDataViewer</a>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="vm.gearsOrActivities" uib-btn-radio="'{{vm.ACTIVITIES}}'">Activities</label>
                            <label class="btn btn-primary" ng-model="vm.gearsOrActivities" uib-btn-radio="'{{vm.GEARS}}'">Gears</label>
                        </div>
                    </h1>
                </div>
                <div class="col-md-4 h3">
                </div>
                <div class="col-md-4 right">
                    <img class="img-circle" ng-src="{{vm.profilePicture}}" alt="">
                    <button type="button" ng-click="vm.connectOrDisconnect()" class="btn btn-default myconnectbutton">{{vm.connectLabel}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-show="vm.gearsOrActivities == vm.ACTIVITIES"><div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">Activity type:
                    <select ng-model="vm.activityType" class="form-control" ng-options="x as x.label for x in vm.activityTypes track by x.id" ng-change="vm.updateSelectedActivityType()">
                    </select>
                </div>
                <div class="col-md-5">Filter:
                    <input type="text" ng-model="vm.search.field" ng-model-options=" {getterSetter: true, debounce: 200 }" placeholder="Filter"
                        title='To match a string with whitespaces enclose it into "...". Use AND to indicate you want to match all clauses.'
                        class="form-control" />
                </div>
                <div class="col-md-2 col-date">Date Range:
                    <input type="text" ng-model="vm.startDate" placeholder="yyyy-mm-dd" title='2016 is equivalent to 2016-01-01. 2016-02 is equivalent to 2016-02-01'
                        class="form-control" />
                </div>
                <div class="col-md-2 col-date">To:
                    <input type="text" ng-model="vm.endDate" placeholder="yyyy-mm-dd" title='2016 is equivalent to 2016-12-31. 2016-03 is equivalent to 2016-03-31'
                        class="form-control" />
                </div>
                <div class="col-md-2 right">
                    <br/>
                    <div class="btn-group right" uib-dropdown>
                        <button type="button" class="btn btn-default mybutton" uib-dropdown-toggle data-toggle="uib-dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Update
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li ng-click="vm.updateActivities()">
                                <a class="mylink" href="">Update activities</a>
                            </li>
                            <li ng-click="vm.updateGears()">
                                <a class="mylink" href="">Update gears</a>
                            </li>
                            <li ng-click="vm.rebuildActivities()">
                                <a class="mylink" href="">Rebuild Activities</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <input type="checkbox" ng-model="vm.withCommutes" /> Include commutes
            </div>
        </div>
        <div class="row" ng-show="vm.nTotalItems > 0">
            {{vm.tots = vm.computeActivityTotals(vm.filteredItems); ""}}
            <h5>
                <div class="col-md-5"> Filtered {{vm.filteredItems.length}} of {{vm.nTotalItems}} total activities. <span class="text-success">{{vm.updateResponse}}</span> </div>
                <div class="col-md-2 right totals">Duration: {{vm.tots.duration }} h</div>
                <div class="col-md-2 right totals">Elevation: {{vm.tots.elevation }} m</div>
                <div class="col-md-2 right totals">Distance: {{vm.tots.distance }} km</div>
            </h5>
        </div>
        <br/>
        <div class="row">
            <div ng-show="vm.nTotalItems == 0 && vm.isConnected()">
                <div class="alert alert-info h4" role="alert">
                    Welcome. You seem to use this application for the first time. <br/>
                    Depending on the number of your Strava activities, the first update may take several minutes. <br/>
                    The page will automatically refresh after the update is completed.
                </div>
                <center><button type="button" ng-click="vm.firstUpdate()" class="btn btn-default myconnectbutton">First Update</button></center>
            </div>
            <div ng-show="vm.updateInProgress" class="alert alert-info h4" role="alert">
                Update in progress...
            </div>
            <div class="col-md-12" ng-show="vm.filteredItems.length > 0">
                <scrollable-table watch="[vm.searchRegex, vm.activityType, vm.startDate, vm.endDate]" >
                    <table class="table table-bordered view-activities">
                        <thead>
                            <tr>
                                <th ng-click="vm.setSort('name');" class="c-name"><div class="c1">Name</div></th>
                                <th ng-click="vm.setSort('location');" class="c-location"><div class="c2">Location</div></th>
                                <th ng-click="vm.setSort('date');"  class="c-date"><div class="c3">Date</div></th>
                                <th ng-click="vm.setSort('sport_type');" class="c-rtype"><div class="c4">Activity</div></th>
                                <th ng-click="vm.setSort('distance');" class="c-int"><div class="c5">Km</div></th>
                                <th ng-click="vm.setSort('elevation');" class="c-int"><div class="c6">D+</div></th>
                                <th ng-click="vm.setSort('moving_time');" class="c-time"><div class="c7">Time</div></th>
                                <th ng-click="vm.setSort('average_speed');" ng-switch="vm.activityType.label" class="c-speed">{{vm.speedOrPace}}</th>
                                <th ng-show="vm.isPremium" ng-click="vm.setSort('suffer_score');" class="c-int"><div class="c12">Score</div></th>
                                <th ng-click="vm.setSort('average_heartrate');" class="c-int"><div class="c11">HR</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="data in vm.filteredItems = (vm.activities | filter:vm.narrowSearch(vm.searchRegex) | selectActivityTypeFilter : vm.activityType : vm.withCommutes | dateRangeFilter : vm.startDate : vm.endDate | orderBy : vm.sortable(vm.predicate) : vm.reverse)">
                                <td>
                                    <a href="" ng-click="expanded = !expanded"><div ng-bind="expanded ? '-' : '+'" class="toggle-details"></div></a>
                                    <div class="name"> <a href="https://www.strava.com/activities/{{data.id}}" target="_blank">{{data.name}}</a></div>
                                </td>
                                <td>{{data.location}}</td>
                                <td>{{data.date}}</td>
                                <td>{{data.sport_type}}</td>
                                <td>{{data.distance}}</td>
                                <td>{{data.elevation}}</td>
                                <td>{{data.moving_time}}</td>
                                <td ng-switch=vm.activityType.label>
                                    {{vm.getSpeedOrPace(data)}}
                                </td>
                                <td ng-show="vm.isPremium">{{data.suffer_score}}</td>
                                <td>{{data.average_heartrate}}</td>
                            </tr>
                            <tr ng-repeat-end ng-show="expanded" class="row-details">
                                <td colspan="11">
                                    <div ng-show="data.description" class="description">{{data.description}}</div>
                                    <div class="bike-name" ng-show="data.gear_name">Gear: {{data.gear_name}} </div>
                                    <div class="total-time"> Total time: {{data.elapsed_time}} </div>
                                    <div class="max-hr" ng-show="data.max_heartrate"> Max HR: {{data.max_heartrate}}</div>
                                    <div class="red-points" ng-show="data.red_points"> Red points: {{data.red_points}}</div>
                                    <div class="right">
                                        <button type="button" ng-click="vm.deleteActivity(data.id)" class="btn btn-default mybutton btn-xs">Delete</button>
                                        <button type="button" ng-click="vm.updateActivity(data.id)" class="btn btn-default mybutton btn-xs">Update</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </scrollable-table>
            </div>
            <div class="col-md-12" ng-show="vm.filteredItems.length == 0 && vm.nTotalItems >0">
                <div class="col-md-12">
                    <h4>No activity found</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-show="vm.gearsOrActivities == vm.GEARS">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" ng-model="vm.searchGear" placeholder="Filter"
                            title='Select gear.'
                            class="form-control" />
                    </div>
                    <div class="col-md-2 right">
                        <button type="button" ng-click="vm.updateGears()" class="btn btn-default mybutton">Update Gears</button>
                    </div>
                </div>
                <input type="checkbox" ng-model="vm.withRetiredGear"/> Include retired gear
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-10" >
                <table class="table table-bordered table-striped view-gears">
                    <thead>
                        <tr>
                            <th ng-click="vm.setSort('name');" class="c-name"><div class="c1">Name</div></th>
                            <th ng-click="vm.setSort('sport_type');" class="c-rtype"><div class="c4">Activity</div></th>
                            <th ng-click="vm.setSort('distance');" class="c-int"><div class="c5">Km</div></th>
                            <th ng-click="vm.setSort('elevation');" class="c-int"><div class="c6">D+</div></th>
                            <th class="c-int"><div class="c6">D+/km</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in gears = (vm.gears | filter:vm.searchGear | selectGearFilter: vm.withRetiredGear | orderBy : vm.sortable(vm.predicate) : vm.reverse)">
                            <td>{{data.name}}</td>
                            <td>{{data.sport_type}}</td>
                            <td>{{data.distance}}</td>
                            <td>{{data.elevation}}</td>
                            <td>{{data.elevation / data.distance | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>
<!-- vim: set sw=4 sts=4 ts=4: -->
