<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/scrollable-table.css" rel="stylesheet">
    <link href="css/perso.css" rel="stylesheet">
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/angular-scrollable-table.js"></script>
    <script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="app/app.js"></script>
    <title>MyStrava</title>
</head>
<body ng-app="MyStrava" >

<div ng-controller="StravaController as vm">
    <div class="navbar navbar-default" id="navbar">
        <div class="container h1">
            <div class="row">
                <div class="col-md-2 vmiddle">
                    <a href="#">MyStrava</a> 
                </div>
                <div class="col-md-4 right">
                    <img class="img-circle" ng-src="{{vm.profile_picture}}" alt="">
                    <button type="button" ng-click="vm.connectOrDisconnect()" class="btn btn-default myconnectbutton">{{vm.connectLabel}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">Activity type:
                <select ng-model="vm.runType" class="form-control">
                    <option selected value="">All</option>
                    <option value="Ride">All rides</option>
                    <option value="MTB">MTB</option>
                    <option value="Road">Road</option>
                    <option value="Run">Run</option>
                    <option value="Hike">Hike</option>
                </select>
            </div>
            <div class="col-md-5">Filter:
                <input type="text" ng-model="vm.search.field" ng-model-options=" {getterSetter: true, debounce: 200 }" placeholder="Filter" title='To match a string with whitespaces enclose it into "...". Use AND to indicate you want to match all clauses.' class="form-control" />
            </div>
            <div class="col-md-2 col-date">Date Range:
                <input type="text" ng-model="vm.startDate" placeholder="yyyy-mm-dd" title='2016 is equivalent to 2016-01-01. 2016-02 is equivalent to 2016-02-01' class="form-control" />
            </div>
            <div class="col-md-2 col-date">To:
                <input type="text" ng-model="vm.endDate" placeholder="yyyy-mm-dd" title='2016 is equivalent to 2016-12-31. 2016-03 is equivalent to 2016-03-31' class="form-control" />
            </div>
            <div class="col-md-2 right"><br/>
				<div class="btn-group right">
					<button type="button" class="btn btn-default mybutton dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Local DB <span class="caret"></span>
					</button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-click="vm.update()"><a class="mylink" href="">Update Local DB</a></li>
                        <li ng-click="vm.upgrade()"><a class="mylink" href="">Upgrade All</a></li>
                    </ul>
			    </div>
				<!-- <button type="button" ng&#45;click="vm.update()" Value="Update Local DB" class="form&#45;control mybutton" /> -->
            </div>
        </div>
        <input type="checkbox" ng-model="vm.withCommutes" /> Include commutes
        <div class="row">
            {{vm.tots = vm.totals(vm.filteredItems); ""}}
            <h5>
                <div class="col-md-5"> Filtered {{vm.filteredItems.length}} of {{vm.nTotalItems}} total activities. <span class="text-success">{{vm.update_response}}</span> </div>
                <div class="col-md-3 right totals">Total elevation: {{vm.tots.elevation }} m</div>
                <div class="col-md-3 right totals">Total distance: {{vm.tots.distance }} km</div>
            </h5>
        </div>
        <br/>
        <div class="alert alert-danger" role="alert">
            You re not allowed to use this application.
        </div>
    </div>
</div>
</body>
</html>
<!-- vim: set sw=4 sts=4 ts=4: -->
