.right {
    float: right;
}

.mybutton {
    cursor: pointer;
    background-color: #FFF;
    font-weight: bold;
    color: #7989D6;
    border-color:  #7989D6;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.totals {
    color: #7989D6;
    font-weight: bold;
}

.table>thead>tr>th:hover, .table>thead:first-child>tr:first-child>th:hover {
	background-color: rgba(208,208,208,.35);
}

table>thead.totals {
	background-color: rgba(200,200,200,.4);
	color: rgba(66,66,66,.6);
}


.table-wrapper {
  width: 100%;
  position: relative;
  border: 1px solid #CCC;
  background: rgba(200,200,200,.2);
  overflow: hidden;
  border-radius: 4px;
}

.table-container {
  overflow-y: scroll;
  height: 550px;
  border-top: 41px solid transparent;
  /* border-bottom: 41px solid transparent; */
}

.table-container > table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  /* margin-top: -19px; */
}

td + td {
  border-left: 1px solid #fff;
}

.table-container > table > td, .table-container > table > th {
  border-bottom: 1px solid #fff;
  background: #efefef;
  padding: 10px;
  min-width: 7em;
}

.table-container > table > thead tr th,
.table-container > table > tfoot tr td {
  height: 0;
  line-height: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: rgba(66,66,66,.6);
  border: none;
  white-space: nowrap;
}

.table-container > table > thead tr th div,
.table-container > table > tfoot tr td div {
  position: absolute;
  color: rgba(66,66,66,.6);
  padding: 10px;
  margin-left: -10px;
  line-height: normal;
  width: 100%;
  z-index: 2;
  text-align: left;
  font-weight: bold;
}

.table-container > table > thead tr th div {
  border-left: 1px solid rgba(255,255,255,.2);
}

.table-container > table > tfoot tr td div {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
/*.c1 {
    width: 100%;
}*/
.c1, .c2, .c3 {
    color: rgba(66,66,66,.6);
}
.c1, .c2, .c3 {
    background-color: rgba(200,200,200,.3);
}

.c-name {
    width: 40em;
}

.c-location {
    width: 12em;
}
.c-date {
    width: 7em;
}

.c-rtype {
    width: 5em;
}

.c-time {
    width: 5em;
}

.c-int {
    width: 4em;
}


/*tfoot tr td div.c1,
thead tr th div.c1 {
  background: violet;
}

tfoot tr td div.c2,
thead tr th div.c2 {
  background: green;
}

tfoot tr td div.c3,
thead tr th div.c3 {
  background: yellow;
}*/

.table-container > table > thead tr th div {
  top: 0;
}

.table-container > tfoot tr td div {
  bottom: 0;
}

.table-container > table > thead tr th:first-child div,
.table-container > table > tfoot tr td:first-child div {
  border-left: none;
}
