.right {
    float: right;
}

.col-date{
    width: 10em;
}

.mybutton, .myconnectbutton {
    cursor: pointer;
    background-color: #FFF;
    font-weight: bold;
    color: #7989D6;
    border-color:  #7989D6;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.dropdown-menu>li>a.mylink {
    color: #7989D6;
}

.myconnectbutton {
    color: #FFF;
    background-color: #7989D6;
}


.totals {
    color: #7989D6;
    font-weight: bold;
}

.table>thead>tr>th:hover, .table>thead:first-child>tr:first-child>th:hover {
	background-color: rgba(208,208,208,.35);
}

.scrollableContainer { height: inherit; }



td + td {
  border-left: 1px solid #fff;
}


.c-name {
    width: 40em;
}

.c-location {
    width: 12em;
}
.c-date {
    width: 8em;
}

.c-rtype {
    width: 5em;
}

.c-time {
    width: 5em;
}

.c-int {
    width: 4em;
}

.container .row { 
	margin-left: 0;
	margin-right: 0;
}

.table>tbody>tr.row-details>td {
    padding-left: 35px;
}

.toggle-details {
    display: inline-block;
    width: 1em;
    vertical-align: top;
}

.name {
    display: inline-block;
    width: calc(100% - 3em);
}

.view-activities>tbody>tr:nth-child(4n+1)>td,
.view-activities>tbody>tr:nth-child(4n+2)>td {
    background-color: #f9f9f9;
}

.view-activities>tbody>tr:nth-child(4n+3)>td,
.view-activities>tbody>tr:nth-child(4n)>td {
    background-color: white;
}

.bike-name, .total-time, .max-hr, .red-points {
    display: inline-block;
    width: 15em;
}
