body {
    margin-bottom: 20px;
}
.right {
    float: right;
    text-align: right;
}

.vmiddle {
    line-height: 60px;
    vertical-align: middle;
}
.col-date{
    width: 10em;
}

.mybutton, .myconnectbutton {
    cursor: pointer;
    background-color: #FFF;
    font-weight: bold;
    color: #7989D6;
    border-color:  #7989D6;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.dropdown-menu>li>a.mylink {
    color: #7989D6;
}

.myconnectbutton {
    color: #FFF;
    background-color: #7989D6;
}

.totals {
    color: #7989D6;
    font-weight: bold;
}

table.view-activities td {
    font-size: 12px;
}

.table>thead>tr>th:hover, .table>thead:first-child>tr:first-child>th:hover {
	background-color: rgba(208,208,208,.35);
}

.scrollableContainer { height: inherit; }

td + td {
    border-left: 1px solid #fff;
}

.c-name { width: 424px; }
.c-location { width: 180px; }
.c-date { width: 90px; }
.c-rtype { width: 64px; }
.c-time { width: 69px; }
.c-int { width: 52px; }
.c-speed { width: 63px; }

.table>tbody>tr.row-details>td {
    padding-left: 35px;
}

.toggle-details {
    display: inline-block;
    width: 1em;
    vertical-align: top;
}

.name {
    display: inline-block;
    width: calc(100% - 3em);
}

.view-activities>tbody>tr:nth-child(4n+1)>td,
.view-activities>tbody>tr:nth-child(4n+2)>td {
    background-color: #f9f9f9;
}

.view-activities>tbody>tr:nth-child(4n+3)>td,
.view-activities>tbody>tr:nth-child(4n)>td {
    background-color: white;
}

.bike-name{
    display: inline-block;
    width: 25em;
}

.total-time, .max-hr, .red-points {
    display: inline-block;
    width: 13em;
}

.description {
	white-space: pre;
	margin-bottom: 1em;
}
